* {
    font-family: monospace;
    font-size: 13px;
}

window#waybar {
    background: #000000;
    color: #93A1A1;
}

#cpu,
#memory,
#pulseaudio,
#battery,
#clock,
#custom-sep {
    color: #93A1A1;
    background: #000000;
}

#custom-sep {
    padding: 0 5px;
}

#cpu {
    padding: 0 3px;
}

#memory,
#pulseaudio,
#battery,
#clock {
    padding: 0 2px;
}

#battery.warning {
    color: #B58900;
}

#battery.critical {
    color: #DC322F;
}

#workspaces button {
    padding: 0 5px;
    color: #93A1A1;
    background: transparent;
    border: none;
}

#workspaces button.active {
    color: #FFFFFF;
}

#tray {
    padding: 0 5px;
}
